<div class="container">
<form method="post" action="questions">
  <input type ="text" name="question[title]" placeholder="@question.title">
  <input type ="text" name="question[description]" placeholder="@question.description">
  <input type ="submit" value="Submit">
</form>
</div>
