<div class="container">
<form method="post" action="/questions">
  <input type="text" name="question[title]" placeholder="title">
  <input type="text" name="question[description]" placeholder="description">
  <input type="submit" value="Submit">
</form>
</div>
