<form id="show-question" method="post" action="/questions">
  <input id="style-title" type="text" name="question[title]" placeholder="title">
  <br>
  <br>
  <textarea name="question[description]" placeholder="description"></textarea>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>

