
<h3><% @question.title %></h3>
<h3>Asked by:<% @question.user.username %></h3>
<p><% @question.description %></p>
<ul>
  <a href="/questions/<%=@question.id%>"/edit>Edit Question</a>
  <form method="post" action="/questions/<%=@question.id%>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout" style="background:none;border:0;color:black">
  </form>
</ul>


