<div class="container">
    <%if logged_in?%>
<form class= "" method="post" action="/comments">
  <input id ="comment_form" type="text" name="comment[description]" placeholder="Add new Comment">
  <input type="hidden" name="comment[commentable_type]" value="<%= object.class %>">
  <input type="hidden" name="comment[commentable_id]" value="<%= object.id %>">
  <input id = "comment_add"type="submit" value="Post">
</form>
  <%end%>
</div>
