.glyphicon {
  font-size: 22px;
  background-color: transparent;
  border: none;
}

.container {
  margin: 30px auto;
  margin-top: 20px;
  width: 900px;
  padding: 10px 20px 20px 20px;
}

.style-me {
  margin-left: 35px;
}


textarea {
    width: 500px;
    height: 150px;
}


#style-title {
  width: 460px;
}

.hide-button {
  border:none;
  background-color: transparent;
}

#add-border {

}

.question {
  position: relative;
}

#question-block {
  width: 500px;
  display: inline-block;
  margin-left: 100px;

}

#vote-block {
  width: 185px;
  display: inline-block;
  text-align: center;
}

.answer {
  position: relative;
}

.vote-block {
  width: 185px;
  display: inline-block;
  text-align: center;
}

.answer-block {
  width: 500px;
  display: inline-block;
  margin-left: 100px;
}

