.glyphicon {
  font-size: 18px;
  background-color: transparent;
  border: none;
}

.container {
  margin: 40px auto;
  margin-top: 20px;
  width: 800px;
  padding: 10px 30px 30px 30px;
}

.style-me {
  margin-left: 35px;
}


textarea {
    width: 500px;
    height: 150px;
}


#style-title {
  width: 500px;
}

.hide-button {
  border:none;
  background-color: transparent;
}

.question {
  position: relative;
}

#question-block {
  width: 610px;
  display: inline-block;

}

#vote-block {
  width: 105px;
  display: inline-block;
}

#answer-block {
  width: 610px;
  display: inline-block;
}
