<h3>Register Today!</h3>

<form action="/users" method="post">
  <label for="first_name">Enter Username:</label>
  <input type="text" name="user[username]"/>
    <br></br>
  <label for="password">Enter Password:</label>
  <input type="password" name="user[password]"/>
    <br></br>
  <input type="submit" value="Register">
</form>
