<% if authorized?(@question) %>
  <form action="<%= "/answer_chosen/#{answer.id}" %>" method="post">
    <input type="hidden" name="_method" value="put">
    <% if answer.answer_chosen %>
      <input type="hidden" name="answer_chosen" value="false">
      <button type="submit" class="glyphicon glyphicon-delete"></button>
    <% else %>
      <input type="hidden" name="answer_chosen" value="true">
      <button type="submit" class="glyphicon glyphicon-ok"></button>
    <% end %>
  </form>
<% end %>
