<div class="container">
<h1> Login Page</h1>
<br>
<%= @errors%>
<form action="/login" method="post">
  <label for="username">Enter Username:</label>
  <input type="text" name="username"/>
  <br></br>
  <label for="password">Enter Password:</label>
  <input type="password" name="password"/>
  <br></br>
  <input type="submit" value="Login">
</form>
</div>
