<form class="" action="/votes" method="post">
  <input type="hidden" name="vote[voteable_type]" value="Question">
  <input type="hidden" name="vote[voteable_id]" value="1">
  <input type="hidden" name="vote[value]" value="1">
  <button type="submit" class="glyphicon glyphicon-hand-up" name="" value="">
</form>

<form class="" action="/votes" method="post">
  <input type="hidden" name="vote[voteable_type]" value="Question">
  <input type="hidden" name="vote[voteable_id]" value="1">
  <input type="hidden" name="vote[value]" value="-1">
  <button type="submit" class="glyphicon glyphicon-hand-down" name="" value="">
</form>
